[WSL]
    vcxsrv  = C:\Program Files\VcXsrv\vcxsrv.exe
    #color   = green

[Proxy]
    function= wsl.cmd
    ico     = cloudy
    click   = true
    #color   = red
    cmd     = ssh -C2qTnNf annuminas -D 8080
    #out     =
    ahk     = Ctrl + Win + Maj + P
    uniq    = True

[Terminator]
    function= wsl.cmd
    ico     = terminal
    click   = true
    cmd     = terminator --working-directory $folder
    gui     = True
    ahk     = Ctrl + Win + Maj + T
    uniq    = False