[Stop Communication]
    contain = Kill Skype, Kill Discord
	click   = True

[Kill Skype]
	function = windows.script
	cmd = taskkill.exe
	args = /f /T /im skype.exe
	click = false
	admin = false

[Kill Discord]
	function = windows.script
	cmd = taskkill.exe
	args = /f /T /im Discord.exe
	click = false
	admin = false

[Reduce Network]
    contain = Kill DropBox, Kill TeamViewer
	click   = True

[Kill DropBox]
	function = windows.script
	cmd = taskkill.exe
	args = /f /T /im dropbox.exe
	click = false
	admin = false

[Kill TeamViewer]
	function = windows.script
	cmd = net.exe
	args = stop TeamViewer /y
	click = false
	admin = true
