[Hibernate]
    function= windows.script
    ico     = sign-out-alt-2
    click   = true
    #ahk     = Control + Win + F4
    cmd     = shutdown.exe
    args    = /h
    admin   = False
    #location = active

[Add Hibernate]
    function= windows.script
    ico     = sign-out-4
    click   = true
    cmd     = powercfg.exe
    args    = /hibernate on
    admin   = True
    #location = active
