#[windows_MuteUnmute]
#	function = windows_MuteUnmute
#	ico = windows_MuteUnmute.ico
#	print = Mute/Unmute
#	ahk = Win + <
#	device = Capture/Playback
#
#[windows_Volume]
#	function = windows_Volume
#	print = Volume Change
#	ahk = Alt + NumpadSub
#	ico = false
#	device = Capture/Playback
#	direction = Up/Down