[Directories ]
    contain = Program Files, Users, Program Files (x86), Windows
	click   = True

[Program Files]
	function= windows.script
	cmd     = C:\Program Files\
	click   = True

[Program Files (x86)]
	function= windows.script
	cmd     = C:\Program Files (x86)\
	click   = False

[Users]
	function= windows.script
	cmd     = C:\Users\
	click   = True
	ahk     = Ctrl + Win + Maj + F1

[Windows]
	function= windows.script
	cmd     = C:\Windows\
	click   = False
	ahk     = Ctrl + Win + Maj + F2


[AlwaysOnTop]
	function = windows.alwaysontop
	ico   = windows_WinAlwaysontop.ico
	ahk   = Win + F8
	click = false